<template>
  <div>
    <button v-on:click="$emit('all-todo')">All</button>
    <button v-on:click="$emit('active-todo')">Activos</button>
    <button v-on:click="$emit('completed-todo')">Completed</button>
  </div>
</template>

<script>
export default {
  name: "FilterTodo",
};
</script>

<style>
</style>
