<template>
  <section>
    <h3>Todo List</h3>
    <ul>
      <li
        v-bind:class="{ completed: todo.complete }"
        v-for="todo in todos"
        v-bind:key="todo.id"
      >
        <todo-item
          v-bind:todo="todo"
          v-on:mark-complete="$emit('mark-complete', todo.id)"
          v-on:delete-todo="$emit('delete-todo', todo.id)"
        />
      </li>
    </ul>
  </section>
</template>

<script>
import TodoItem from "./TodoItem.vue";
export default {
  name: "TodoList",
  props: ["todos"],
  components: { TodoItem },
};
</script>

<style>
li {
  list-style: none;
}
</style>
