<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/register">Register</router-link> |
    <router-link to="/login" v-if="!isLoggedIn">Login</router-link>
    <a v-else @click="logout">Logout</a>
  </nav>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
    methods: {
      logout: async function () {
        await this.$store.dispatch("logout");
        await this.$router.push("/login");
      },
    },
};
</script>
