* {
    margin: 0;
    padding: 0;
  
    &::after, &::before {
      margin: 0;
      padding: 0;
    }
  }
  
  html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
  }
  
  .container {
    position: relative;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
  
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
  
      .imgbox {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: black;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .content {
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        div {
          padding: 15px;
          text-align: center;
        }
      }
    }
  }
  
  @media (max-width: 1000px) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      margin: 50px;
  
      .card {
        flex-direction: row;
        margin: 10px 0;
  
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
  
        .imgbox, .content {
          width: 50%;
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    .container .card {
      flex-direction: column;
      margin: 9px;
  
      &:nth-child(even) {
        flex-direction: column;
      }
  
      .imgbox {
        width: 100%;
      }
  
      .content {
        width: 100%;
        height: 200px;
      }
    }
  }
  