<template>
  <div class="login">
    <h2>Login</h2>
    <form @submit="login">
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
export default {
  methods: {
    login: async function () {
      await this.$store.dispatch("login");
      await this.$router.push({ name: "Home" });
    },
  },
};
</script>
