<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue for</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>

  <section id="root">
    <h3>Vue for</h3>
    <ul>
      <li v-for='(vueTech, indice) in vueEcosystem'>
        <vue-tech :id='vueTech.id' :tech='vueTech.tech'></vue-tech>
      </li>
    </ul>
    <button v-on:click='addTechnology'>Add tech</button>
    <button v-on:click='removeTechnology'>Remove tech</button>
  </section>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          vueEcosystem: [
            { id: 1, tech: 'vue cli' },
            { id: 2, tech: 'vue devtools' },
            { id: 3, tech: 'vue loader' },
            { id: 4, tech: 'vue router' },
            { id: 5, tech: 'vue (state management' },
          ]
        }
      },
      methods: {
        addTechnology(){
          console.log('The button has been clicked')
          this.vueEcosystem.push({ id: this.vueEcosystem.length + 1, tech: 'vue server side render' })
        },
        removeTechnology(){
          this.vueEcosystem.splice(this.vueEcosystem.length - 1, 1)
        }
      }
    })

    app.component('vue-tech', {
      props: ['id', 'tech'],
      template: `
      <div>{{id}} - {{tech}} is a Vue tech</div>
      `
    }).mount('#root')
  </script>

</body>

</html>
