<template>
  <section>
    <h1>Todos</h1>
    <add-todo v-on:add-todo="addTodo" />
    <todo-list
      v-bind:todos="filteredTodos"
      v-on:mark-complete="markComplete"
      v-on:delete-todo="deleteTodo"
    />
    <filter-todo
      v-on:all-todo="allTodos"
      v-on:active-todo="activeTodos"
      v-on:completed-todo="completedTodos"
    />
  </section>
</template>

<script>
import AddTodo from "../components/AddTodo.vue";
import FilterTodo from "../components/FilterTodo.vue";
import TodoList from "../components/TodoList.vue";
export default {
  name: "Todo",
  components: { AddTodo, TodoList, FilterTodo },
  data() {
    return {
      todos: [],
      filteredTodos: [],
      counter: 0,
    };
  },
  methods: {
    addTodo(todo) {
      todo.id = this.counter++;
      this.todos.push(todo);
      this.filteredTodos = this.todos;
    },
    markComplete(id) {
      this.todos.forEach((todo) => {
        if (todo.id === id) {
          todo.complete = !todo.complete;
        }
      });
    },
    deleteTodo(id) {
      let index = this.todos.findIndex((el) => {
        return el.id === id;
      });
      this.todos.splice(index, 1);
    },
    allTodos() {
      this.filteredTodos = this.todos;
    },
    activeTodos() {
      this.filteredTodos = this.todos.filter((todo) => !todo.complete);
    },
    completedTodos() {
      this.filteredTodos = this.todos.filter((todo) => todo.complete);
    },
  },
  created() {
    // definición de estado inicial (hidratación)
    this.todos = [
      { id: 0, title: "aprender variables de estado en vue", complete: false },
      { id: 1, title: "aprender vue if", complete: false },
      { id: 2, title: "aprender vue for", complete: true },
    ];
    this.counter = this.todos.length;
    this.filteredTodos = this.todos;
  },
};
</script>

<style>
</style>
